textarea {
  height: 150px;
}

#orange-header{
  background-color: #FF7043;
}
  
.subheader {
  margin-top: 12px;
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}

.subheader i{
  color: white;
  margin-right: 4px;
}